.site-nav {
  background-color: rgba(83, 204, 182, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.header-logo {
  padding-right: 2rem;
}

.header-link {
  font-family: "Space grotesk", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--white);
  white-space: nowrap;
  transition: color 0.5s ease;
}

.header-link:hover {
  color: var(--darkgray);
}

.nav-brand,
.nav-links {
  list-style-type: none;
  cursor: pointer;
}

.nav-brand li,
.nav-links li {
  display: inline-flex;
  margin: 0.3em 1em;
}

.menu-checkbox,
.menu-toggle {
  display: none;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .site-nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }

  .nav-brand,
  .nav-links {
    display: block;
  }

  .nav-links {
    width: 100%;
    flex-basis: 100%;
  }

  .nav-brand li,
  .nav-links li {
    margin-bottom: 0;
    width: 100%;
    text-align: right;
    padding: 0.5em;
  }

  .menu-toggle {
    text-align: right;
    display: block;
    padding: 0.5em;
    line-height: 1.6em;
    align-self: center;
    color: var(--white);
    transition: color 0.5s ease;
  }

  .header-link:active {
    color: var(--darkgray);
  }

  .menu-checkbox:not(:checked) + .nav-links {
    display: none;
  }
}
